@import url("constantes.css");
/* Estilos específicos de la página de registro */
.registro-container {
  background-color: var(--color-background);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
}

h2 {
  color: var(--color-heading);
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--color-input-bg);
  color: var(--color-text);
  font-size: 16px;
}

form button {
  background-color: var(--color-button);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: var(--color-button-hover);
}
