/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Enlaces */
a {
  text-decoration: none;
  color: #0077b6;
  transition: color 0.3s ease;
}

a:hover {
  color: #005d8d;
}

/* Botones */
button {
  background-color: #0077b6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005d8d;
}

/* Media queries y estilos responsivos para todo el sitio */
@media screen and (max-width: 768px) {
  /* Estilos responsivos para todo el sitio aquí */
  body {
    font-size: 16px;
  }
}

/* Media queries y estilos específicos para estilos.css */
@media screen and (max-width: 768px) {
  /* Estilos responsivos para estilos.css aquí */
}

/* Media queries y estilos específicos para login.css */
@media screen and (max-width: 768px) {
  /* Estilos responsivos para login.css aquí */
  .main-container {
    max-width: 100%;
  }
}

/* Media queries y estilos específicos para registro.css */
@media screen and (max-width: 768px) {
  /* Estilos responsivos para registro.css aquí */
  .registro-container {
    max-width: 100%;
  }
}

/* Media queries y estilos específicos para usuario.css */
@media screen and (max-width: 768px) {
  /* Estilos responsivos para usuario.css aquí */
  .perfil {
    max-width: 300px;
  }
}
