@import url("constantes.css");
/* Estilos específicos de la página de usuario */
.usuario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background);
}

.perfil {
  background-color: var(--color-background);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: left;
  max-width: 400px;
  width: 90%;
}

.perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  color: var(--color-heading);
}

p {
  font-size: 16px;
  color: var(--color-text);
  margin: 5px 0;
}
