/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Contenedor principal */
.main-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
}

/* Encabezados y títulos */
h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulario y botones */
form {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0077b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005d8d;
}

/* Enlaces */
a {
    text-decoration: none;
    color: #0077b6;
    display: block;
    margin-top: 10px;
}

a:hover {
    color: #005d8d;
}

/* Diseño responsivo */
@media screen and (max-width: 768px) {
    .main-container {
        max-width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
    }
}
