@import url("variables.css");

.usuario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title-dashboard {
  color: var(--color-text-h2);
}

.perfil {
  background-color: var(--color-container-bg);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: left;
  max-width: 800px;
  width: 70%;
  overflow: auto;
}

table.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.user-table th,
table.user-table td {
  padding: 10px;
  text-align: left;
}

table.user-table th {
  background-color: var(--color-button-bg);
  color: var(--color-text);
  font-weight: bold;
}

table.user-table tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table.user-table tr:nth-child(even) {
  background-color: #ccc;
}

table.user-table a {
  color: var(--color-button-bg);
  text-decoration: none;
}

table.user-table a:hover {
  text-decoration: underline;
}

.button-delete {
  background-color: var(--color-error); /* Color de error basado en variable */
  color: var(--color-button-text); /* Texto en blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
}
.button-cancel {
  background-color: var(--color-button); /* Basado en la variable de botón */
  color: var(--color-button-text); /* Texto en blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
