.mainContainer {
  display: flex;
  width: 100%;
  min-height: 100vh; /* Cambiado para evitar desbordamientos */
  background: linear-gradient(to right, #0077b6, #0099c3);
}

.perfil { /* Corregir el nombre de la clase */
  width: 100%;
}

.usuario-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 90%; /* Aumentado el ancho */
  margin: 5% auto;
  padding: 20px;
}

.leftTitle {
  color: #0077b6;
  font-size: 2rem;
  text-align: left;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  table-layout: fixed; /* Añadido para mejorar el espacio */
}

.user-table th, .user-table td {
  border: 1px solid #0077b6;
  padding: 12px; /* Aumentado el relleno */
  text-align: center;
}

.user-table th {
  background: #0099c3;
  color: #fff;
}

/* Cambiar colores de los íconos */
.user-table a {
  color: #0077b6; /* Color de los íconos en estado normal */
  transition: color 0.3s;
}

.user-table a:hover {
  color: #ff0000; /* Cambiar a rojo en el estado hover (eliminar) */
}

/* Cambiar color del ícono de editar */
.user-table a:hover .fas.fa-edit {
  color: #00ff00; /* Cambiar a verde en el estado hover (editar) */
}


.btn {
  background-color: #0099c3;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0077b6;
}
