.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #0077b6, #0099c3);
}

/* Sección Izquierda */
.leftPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  background: #0099c3;
}

.leftTitle {
  color: #ffffff;
  font-size: 3rem;
  text-align: right;
  padding-right: 5px;
}

.loginContainer {
  width: 80%;
  height: 60%;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Sección Derecha */
.rightPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  background: #ffffff;
}

.rightTitle {
  color: #0077b6;
  font-size: 3rem;
  text-align: left;
  padding-left: 5px;
}

.registerContainer {
  width: 80%;
  height: 60%;
  background: #0077b6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-group {
  width: 80%;
  margin: 5px 0; /* Agrega espacio vertical */
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #0077b6;
  border-radius: 5px;
}

button.btn {
  width: 60%;
  background-color: #0099c3;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  align-self: center;
}

button.btn:hover {
  background-color: #0077b6;
}

input.error {
  border: 1px solid red;
}

.errorBox {
  width: 50px;
  height: 10px;
}

/* Dispositivos móviles pequeños (portrait) */
@media (max-width: 575px) {
  /* Estilos para pantallas pequeñas en posición vertical */
}

/* Dispositivos móviles pequeños (landscape) */
@media (min-width: 576px) and (max-width: 767px) {
  /* Estilos para pantallas pequeñas en posición horizontal */
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tabletas */
}

/* Pantallas pequeñas de escritorio */
@media (min-width: 1024px) and (max-width: 1279px) {
  /* Estilos para pantallas pequeñas de escritorio */
}

/* Pantallas medianas de escritorio */
@media (min-width: 1280px) and (max-width: 1439px) {
  /* Estilos para pantallas medianas de escritorio */
}

/* Pantallas grandes de escritorio */
@media (min-width: 1440px) {
  /* Estilos para pantallas grandes de escritorio y superiores */
}
