@import url("variables.css");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  width: 90%;
  max-width: 350px;
  padding: 20px;
  background-color: var(--color-container-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 0 auto;
}

.tittle {
  color: var(--color-text-h2);
  font-size: 28px;
  margin-bottom: 20px;
}

.main-form {
  text-align: center;
}

.form-group {
  display: flex;
  margin-bottom: 20px;
}