:root {
  --color-background: #f0f0f0;
  --color-linear-gradient-One: #247ba0;
  --color-linear-gradient-Two: #70c1b3;
  --color-text: #333;
  --color-text-h2: #fff;
  --color-link: #0077b6;
  --color-link-hover: #005d8d;
  --color-button-text: #fff;
  --color-button-text-hover: #08956e;
  --color-button: #08956e;
  --color-button-hover: #fff;
  --color-heading: white;
  --color-input-bg: #fff;
  --color-error: #ff0000;
  --color-container-bg: rgb(0 255 45 / 24%);
  --color-container-text: #fff;
  --color-button-bg: #3498db; 
}
